nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    border-bottom: 2px solid #FF2751;
}

h1 {
    margin-right: auto;
    text-align: center;
    background-color: rgb(27, 91, 211);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    border: none;
    font-size: 20px;
    margin-left: 25px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: solid;
}

button {
    margin-left: 30px;
    margin-top: 10px;
    padding: 8px 12px;
    background: rgba(11, 60, 194, 0.979);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: solid;
}

a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}