<div class="body">
    <main>
        <div class="contenitore">
            <div class=" fadeInDown">
                <div class="head">
                    <div>
                        <p>crm</p>
                    </div>
                    <div>
                        <h1>Gestione clienti e fatture</h1>
                    </div>
                    <p style="font-size: 10px;">Registrati per avere accesso alla gestione</p>
                    <div>

                        <a class="nav-link" [routerLink]="['signup']" routerLinkActive="router-link-active">Registrati</a>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>